<style>
        *{box-sizing: border-box}
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(45deg, #ff8a00, #e52e71);
            color: white;
        }

        header {
            margin-top: 0px;
            padding: 50px 0;
            text-align: center;
            background: rgba(0, 0, 0, 0.2);
        }
        .container {
            max-width: 1150px;
            margin: 20px auto;
            padding: 0 20px;
        }
        .trend {
            background: rgba(255, 255, 255, 0.1);
            padding: 40px;
            margin-bottom: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
        }
        .trend:hover{
            transform: scale(1.05)
        }
        .trend h2 {
            color: white;
            font-size: 24px;
        }
        .trend p {
            color: white;
            font-size: 16px;
        }
         /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            background: rgba(255, 255, 255, 0.2);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            box-sizing: border-box;
            text-transform: uppercase;
        }

        .navbar a {
            text-decoration: none;
            color: white;
            padding: 10px;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: #ff66c4;
        }

         .about {
            font-size: 30px;
        }

        .trend {
            font-size: 1.2em;
            line-height: 1.5;
        }
     .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0;
    }
    
    .album {
        width: 700px;
      border-radius: 10px;
      text-align: center;
    }
    
    .album img {
      width: 100%;
      border-radius: 50px;
    }
    
    .album h2 {
      margin: 20px 0 10px;
      font-size: 1.5em;
    }
    
    .album p {
      color: #555;
      font-size: 1em;
    }
        
    .about h1 {
            font-size: 1.5em;
            text-transform: uppercase;
        }

        .about p {
            font-size: 0.7em;
        }

       /* Footer */
        .footer {
            background: rgba(0, 0, 0, 0.3);
            padding: 20px;
            text-align: center;
        }

        .footer p {
            font-size: 0.9em;
            color: white;
        }

        .footer a {
            text-decoration: none;
            color: white;
            transition: color 0.3s;
        }

        .footer a:hover {
            color: #ffa07a;
        }
    </style>