  <style>
      *{box-sizing: border-box}
    body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      background: linear-gradient(135deg, #ff66c4, #3333cc);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-container {
      background: white;
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      width: 300px;
      padding: 20px;
      text-align: center;
    }

    .login-container h1 {
      color: #ff66c4;
      font-size: 2em;
      margin-bottom: 20px;
    }

    .login-container input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 10px;
      border: 1px solid #ddd;
                box-sizing: border-box;
      font-size: 1em;
    }

    .login-container input[type="submit"] {
      background: #ff66c4;
      color: white;
      border: none;
      cursor: pointer;
      transition: background 0.3s;
    }

    .login-container input[type="submit"]:hover {
      background: #cc5299;
    }

    .login-container a {
      color: #3333cc;
      text-decoration: none;
      font-size: 0.9em;
    }

    .login-container a:hover {
      text-decoration: underline;
    }
      
              /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            background: rgba(255, 255, 255, 0.2);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            box-sizing: border-box;
            text-transform: uppercase;
        }

        .navbar a {
            text-decoration: none;
            color: white;
            padding: 10px;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: #ff66c4;
        }

  </style>