    <style>
        *{box-sizing: border-box}
        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(45deg, #ff66c4, #3333cc);
            color: white;
        }

        /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 15px 30px;
            background: rgba(255, 255, 255, 0.2);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            box-sizing: border-box;
            text-transform: uppercase;
        }

        .navbar a {
            text-decoration: none;
            color: white;
            padding: 10px;
            transition: color 0.3s;
        }

        .navbar a:hover {
            color: #ff66c4;
        }

        .logo{
            width: 130px;
        }

        /* Hero Section */
        .hero {
            height: 600px;
            background-image: url("../image/gi-dle.webp") ;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 60px; /* Account for fixed navbar */
        }

        .hero h1 {
            font-size: 3em;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .hero p {
            font-size: 1.2em;
        }

        /* Featured Content */
        .content {
            padding: 30px;
            text-align: center;
        }

        .content h2 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .content p {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        .content img {
            width: 300px;
            height: 300px;
            border-radius: 10px;
            transition: transform 0.3s;
        }

        .content img:hover {
            transform: scale(1.05);
        }

        /* Footer */
        .footer {
            background: rgba(0, 0, 0, 0.3);
            padding: 20px;
            text-align: center;
        }

        .footer p {
            font-size: 0.9em;
        }

        .footer a {
            text-decoration: none;
            color: white;
            transition: color 0.3s;
        }

        .footer a:hover {
            color: #ff66c4;
        }
    </style>