*{box-sizing: border-box}
body {
    border: 3px solid red;
    margin: 0px;
    font-family: franklin Gothic;
    text-align: center;
}
header, nav, section, aside, footer {
    border: 1px solid green;
    padding: 20px;
}
header{
    width: 100%;
    background-color: dimgray;
}
nav{
    width: 20%;
    float: left;
    height: 400px;
    background-color:rgb(186,186,186);
}
section{
    width: 60%;
    float: left;
    height: 400px;
}
aside{
    width: 20%;
    float: left;
    height: 400px;
    background-color: rgb(186,186,186)
}
footer{
    width: 100%;
    clear: left;
}
table{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}
tr,th,td{
    border: 1px solid white;
    padding: 5px;
}
.logo{
    width: 80px;
    float: left;
}
td{
    background-color: darkgray;
}
th{
    background-color: darkslategray;
    color: white;
}